body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333;
}

a {
    
    text-decoration: none; /* убирает линию */
    padding: 10px 20px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: royalblue;
}

.hidden {
    display: none;
}

#panel {
    margin-top: 30px;
    padding: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: dodgerblue;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}
.lang-buttons {
    margin-bottom: 20px;
}

.lang-buttons button {
    margin: 0 5px;
    padding: 6px 14px;
    cursor: pointer;
}
